<header>
    <div class="container">
        <div class="d-flex d-sm-cloumn jcsb">
            <h1 class="d-ib"><a href="../pages/index.html"><img src="../assets/images/logo-white.png" alt="logo-white-img"></a></h1>
            <ul>
                <li><a href="#">系列鏡框</a></li>
                <li><a href="../pages/store.html">門市據點</a></li>
                <li><a href="#">部落格</a></li>
                <li><a href="../pages/question.html">常見問題</a></li>
            </ul>
        </div>
    </div>
</header>