.btn-s{
    background-color: $color-primary;
    font-size: $fs-4;
}
button{
    a{
        display: inline-block;
        width: 100%;
    }
    width: 100%;
    background-color: $color-primary;
    font-size: $fs-4;
    padding: 8px 0;
    border: none;
}