<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main>
      <!-- block 1 Banner -->
      <section class="banner" id="#banner">
        <div class="container p-x-xl">
          <div class="tit p-auto">
            <h3>Promise-Desert 2020 早春系列</h3>
            <h1>看得清，才能看得遠</h1>
            <div class="btn-s d-ib">
              <a href="#" class="p-s">立即購買</a>
            </div>
          </div>
        </div>
      </section>

      <!-- block 2 用專業的心，做專業的事 pro -->
      <article class="pro p-x-m">
         <div class="container">
          <h2 class="tac p-tittle">用專業的心，做專業的事</h2>
          <ul class="d-flex d-sm-cloumn jcsb fww">
            <li class="tac">
              <img src="../assets/images/home-section2-1.png" alt="price-img">
              <h4>單一價格</h4>
              <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
            </li>
            <li class="tac">
              <img src="../assets/images/home-section2-2.png" alt="20mins-img">
              <h4>20 分鐘即可取件</h4>
              <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
            </li>
            <li class="tac">
              <img src="../assets/images/home-section2-3.png" alt="safe-img">
              <h4>安心售後服務</h4>
              <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
            </li>
            <li class="tac">
              <img src="../assets/images/home-sectioin2-4.png" alt="lens-img">
              <h4>關於鏡片</h4>
              <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
            </li>
          </ul>
        </div>
      </article>

      <!-- block 3 經典系列鏡框 classic -->
      <section class="classic p-x-m">
        <div class="container">
          <h2 class="p-tittle tac">經典系列鏡框</h2>
          <div class="d-flex d-md-cloumn d-sm-cloumn jcsb aic">
            <a href="#">
              <img src="../assets/images/home-section3-1.png" alt="OPTICAL-img">
              <h2 class="i tac fw-b">OPTICAL</h2>
            </a>
            <a href="#">
              <img src="../assets/images/home-section3-2.png" alt="SUNGLASSES-img">
              <h2 class="i tac fw-b">SUNGLASSES</h2>
            </a>
            <a href="#">
              <img src="../assets/images/home-section3-3.png" alt="FUNCTIONAL-img">
              <h2 class="i tac fw-b">FUNCTIONAL</h2>
            </a>
        </div>
        </div>
      </section>

      <!-- block 4 聯名設計鏡框 cobranding -->      
      <section class="cobranding p-x-m">
        <div class="container tac">
          <h2 class="tac c-l p-tittle">聯名設計鏡框</h2>
          <div class="d-flex d-md-cloumn d-sm-cloumn">
            <div>
            <a href="#">
              <picture>
                <source media="(max-width: 576px)" srcset="../assets/images/home-section4-1-sm.png">
                <img src="../assets/images/home-section4-1.png" alt="DOUBLE A+ brand">
              </picture>
            <h2 class="i bgc-l fw-b">DOUBLE A+</h2>
           </a>
          </div>
          <div>
            <a href="#">
              <picture>
                <source media="(max-width: 576px)" srcset="../assets/images/home-section4-2-sm.png">
                <img src="../assets/images/home-section4-2.png" alt="YOUTH brand">
              </picture>
            <h2 class="i bgc-l fw-b">YOUTH</h2>
           </a>
          </div>
        </div>
        </div>
      </section>

      <!-- block 5 顧客推薦 -->         
      <section>
        <div class="container p-x-m">
          <h2 class="tac p-tittle">顧客推薦</h2>
          <ul class="d-flex d-sm-cloumn fww jcsb aic p-auto">
            <!-- card 01 -->
            <li class="card">
              <img src="../assets/images/home-section5-1.png" alt="guest1">
              <div class="content">
                <div class="text">
                  <p>Jessy</p>
                  <p>眼鏡品質優良，下次還會想來這邊購買！</p>
                  <time>2021/06/20</time>
                </div>
              </div>
            </li>
            <!-- card 02 -->
            <li class="card">
              <img src="../assets/images/home-section5-2.png" alt="guest2">
              <div class="content">
                <div class="text">
                  <p>凱倫</p>
                  <p>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                <time>2021/06/20</time>
              </div> 
              </div>
            </li>
            <!-- card 03 -->
            <li class="card">
              <img src="../assets/images/home-section5-3.png" alt="guest3">
              <div class="content">
                <div class="text">
                  <p>悠悠</p>
                  <p>謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                  <time>2021/06/20</time>
                </div>
              </div>
            </li>
            <!-- card 04 -->
            <li class="card">
              <img src="../assets/images/home-section5-4.png" alt="guest4">
              <div class="content">
                <div class="text">
                  <p>Kyuan</p>
                  <p>服務很好，品質沒有任何問題，非常喜歡。</p>
                  <time>2021/06/20</time>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>

      <!-- block 6 contact us -->       
      <section class="contact p-x-m">
        <div class="container">
          <h2 class="tac mb-m">聯絡我們</h2>
          <div class="from m-auto">
          <h5 class="mb-m">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</h5>
            <div>
              <label for="name">姓名<br>
                <input type="text" id="name" placeholder="陳小明">
              </label>
              <label for="phone">聯絡電話<br>
                <input type="tel" id="phone" placeholder="0912-345-678">
              </label>
              <label for="email">電子郵件<br>
                <input type="email" id="email" placeholder="example@email.com">
              </label>
              <label for="feedback">意見反應<br>
                <input type="teatarea" id="feedback" placeholder="請輸入您的意見">
              </label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" name="" id="">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
          </div>
          <button class="mt-s"><a href="#">確認送出</a></button>
        </div>
      </div>
      </section>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
